//=================================
// About US
//=================================

.about-us {
	margin: 50px 0;
}

	.about-us__title {
		color: #0B97C4;
		font-family: $font_family_base;
		font-weight: $font_weight_base;
		font-size: $font_size_great;
		line-height: $font_line_great;
		text-align: center;
	}

	.about-us__engage {
		margin: 30px auto 0;
		width: 930px;
		font-size: 0;
		box-shadow: 0px 0px 10px $color_gray_secondary;
	}

	.about-us__note {
		font-size: $font_size_smaller;
		font-weight: $font_weight_bold;
		line-height: $font_line_smaller;
		color: $color_blue_additional;
		text-align: center;
	}

	.about-us__quotes {
		position: absolute;
		bottom: 15px;
		left: 50%;
		font-size: $font_size_largest;
		font-weight: $font_weight_base;
		line-height: $font_line_largest;
		color: $color_blue_additional;
		text-align: center;

		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-mz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.about-us__info {
		position: relative;
		padding: 20px 10px;
		width: 310px;
		height: 210px;
		text-align: center;
	}

	.about-us__purpose {
		margin-top: 20px;
		font-size: $font_size_smallest;
		line-height: $font_line_smaller;
		color: $color_black_primary;
	}