.avatar {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  background-color: #f0f2f5;
  border: 2px solid #e3e4e8;
  border-radius: 5px;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
}

.avatar img {
  border-radius: 3px;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  left: 0;
}