.banner {
  position: relative;
  height: 800px;
  background: url(../../static/img/back-pattern.png) top left repeat,
              url(../../static/img/back1.jpg) center center no-repeat;
  background-size: 154px 196px, cover;
  position: relative;
}

.banner__title {
  margin: 0;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 112px;
  color: white;
  z-index: 2;
  position: absolute;
  font-weight: 100;
  text-align: center;
  text-shadow: 5px 4px 30px #888;
}