@mixin button-bg($bg) {
  background: $bg;
  box-shadow: 0 3px 0 0 darken($bg,8%);
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
    box-shadow: 0 3px 0 0 darken($bg,16%);
  }
  &:active {
    background:darken($bg,8%);
    box-shadow: 0 1px 0 0 darken($bg,16%);
    transform: translateY(2px);
  }
  &:focus {
    outline: none;
  }
}

.button {
  color:$color_white;
  text-decoration:none;
  padding:12px 20px;
  border-radius:3px;
  border: none;
  font-family: $font_family_base;
  font-size:14px;
  cursor: pointer;
  text-transform: uppercase;
}

.button:active {
  box-shadow: 0 1px 0 #006599;
  transform: translateY(3px);
}

.button_green {
  @include button-bg(#2ecc71);
}

.button_blue {
  @include button-bg(#3498db);
}

.button_yellow{
  @include button-bg(#f1c40f);
}

.button_red {
  @include button-bg(#e74c3c);
}

.button_disabled {
  @include button-bg($color_gray_base);
  cursor: default;
  pointer-events: none;
}


.button_absolute {
  position: absolute;;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.button_redirect_limpid {
  color: $color_blue_additional;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid $color_blue_base;
  box-shadow: none;
  font-weight: $font_weight_bold;

  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;

  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;

  &:hover {
    background: rgba(143, 147, 153, 0.4);
  }
}

.button_shape_stretch {
  width: 100%;
}