/*Color*/
$color_white:              #ffffff;

$color_black_base:         #333333;
$color_black_primary:      #5a4143;

$color_gray_base:          #d1d4da;
$color_gray_primary:       #e1e4e9;
$color_gray_secondary:     #e3e4e8;
$color_grey_additional:    #8f9399;
// $color_gray_extra:         #434a54;

$color_pink_primary:       #ed5565;

$color_blue_base:          #2383c4;
$color_blue_primary:       #3baeda;
$color_blue_secondary:     #0B97C4;
$color_blue_additional:    #3498db;

/*Google Fonts*/
$font_family_base: 'Open Sans', sans-serif;

$font_weight_tiny: 100;
$font_weight_base: 400;
$font_weight_bold: 600;


$font_size_greatest: 36px;
$font_line_greatest: 42px;

$font_size_greater: 28px;
$font_line_greater: 33px;

$font_size_great: 24px;
$font_line_great: 28px;

$font_size_great: 22px;
$font_line_great: 24px;

$font_size_largest: 20px;
$font_line_largest: 24px;

$font_size_larger: 18px;
$font_line_larger: 22px;

$font_size_base: 16px;
$font_line_base: 24px;

$font_size_smaller: 14px;
$font_line_smaller: 20px;

$font_size_smallest: 12px;
$font_line_smallest: 16px;