//===========================
// Tiles inline block
//===========================

.element {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.element__item {
		display: inline-block;
		vertical-align: top;

		.element_valign_middle & {
			vertical-align: middle;
		}
	}

	.element_overflow_hidden {
		overflow: hidden;
	}
	
	.element_align_center {
		text-align: center;
	}

	.element__ambit_50ptc {
		& > .element__item {
			width: 50%;
		}
	}

	.element__ambit_33ptc {
		& > .element__item {
			width: 33%;
		}
	}