//==============================
// Empty Block
//==============================

.empty {
	margin: 50px 0;
	height: 100%;
	width: 100%;
	text-align: center;
}

	.empty__posts {
		font-size: 20px;
		line-height: 44px;
		color: #333333;
		font-weight: 400;
		opacity: 0.8;
	}

	.empty__button {
		margin-top: 20px;
	}