.error-page {
  background: $color_blue_primary;
  text-align: center;
}

.error-page__base {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.error-page__title {
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
  width: 100%;
  color: $color_gray_primary;
}