.features {
  display: table;
  position: relative;
  margin: 60px auto 100px;
  text-align: center;
  height: auto;
  width: 960px;
}

.features_text_left {
  text-align: left;
}

.features__row {
  display: table-row;
  width: 100%;
}

.features__cell {
  display: table-cell;
  width: 33.3%;
  vertical-align: top;
  height: 100%;
}

.features__cell_offset {
  padding-left: 40px;
}

.features__image {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #ddd;
}

.features__image img {
  width: 100px;
  height: 100px;
}

.features__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 30px;
  color: $color_grey_additional;
}

.features__badge {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.features__note {
  font-size: 14px;
  line-height: 22px;
  color: #bfbfc1;
  margin-top: 20px;
  padding: 0 23px;
}

.features__note_pad0 {
  padding-left: 0;
}

.features__link {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 20px;
}