//======================================
// Igor Filter Posts
//======================================

.filter-post {
	margin-top: 50px;
	font-size: 0;
}
	.filter-post__main {
		margin-top: 50px;
		text-align: center;
	}

	.filter-post__title {
		font-family: $font_family_base;
		font-weight: $font_weight_base;
		font-size: $font_size_great;
		line-height: $font_line_great;
		color: $color_blue_secondary;
		text-align: center;
	}

	.filter-post__group {
		margin-top: 30px;
		display: inline-block;
		vertical-align: top;

		&:last-child {
			margin-left: 110px;
		}
	}

	.filter-post__note {
		font-family: $font_family_base;
		font-weight: $font_weight_base;
		font-size: $font_size_base;
		line-height: $font_line_base;
		color: $color_blue_secondary;
	}

	.filter-post__select {
		margin-top: 5px;
		width: 300px;
	}

	.filter-post__search {
		color: $color_blue_secondary;
		font-weight: $font_weight_base;
	}

	.filter-post__foot {
		margin-top: 30px;
		text-align: center;
	}