

.footer {
	margin-top: 50px;
	width: 100%;
	height: 240px;
}

	.footer-main {
		width: 100%;
		background-color: $color_gray_primary;
	}

	.footer-main__info {
		display: inline-block;
		vertical-align: top;
		padding: 30px;
		width: 230px;
		height: 240px;
		background-color: $color_gray_base;
	}

	.footer-main__title {
		color: $color_grey_additional;
		font-family: $font_family_base;
		font-size: $font_size_great;
		line-height: $font_line_great;
		font-weight: $font_weight_bold;
	}

	.footer-main__note {
		margin-top: 30px;
		color: $color_grey_additional;
		font-family: $font_family_base;
		font-size: $font_size_smallest;
		line-height: $font_size_larger;
		font-weight: $font_weight_base;
	}

	.footer-main__menu {
		padding: 50px 40px 0 100px;
		display: inline-block;
		vertical-align: top;
		height: 240px;
		background-color: $color_gray_primary;
	}

	.footer-main__tiles {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
	}

	.footer-main__tiles-item {
		color: $color_grey_additional;
		font-size: $font_size_smaller;
		line-height: $font_line_larger;
		font-weight: $font_weight_base;
		list-style: none;

		&:first-child {
			margin-bottom: 20px;
			color: $color_blue_primary;
			font-size: $font_size_smaller;
			line-height: $font_line_smaller;
			font-weight: $font_weight_bold;
		  	cursor: pointer;
		}
	}
	
	.footer-main_id_margin_left {
		margin-left: 80px;
	}