.header {
  height: 76px;
  background: #0B97C4;
  display: block;
  position: relative;
  width: 100%;
  z-index: 2;
  font-size: 0;
}

.header__logo {
  width: 78px;
  height: 100%;
  background: #0B97C4 url(../../static/img/dog.svg) top left no-repeat;
  background-size: 78px 78px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  text-align: right;
  font-size: 0;
  font-weight: 700;
  color: #8f9399;
  cursor: pointer;
}

.header__title {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: white;
  margin-left: 20px;
  margin-top: 7px;
}

.header__subname {
  font-size: 20px;
  display: block;
}

.header__name {
  font-size: 28px;
  line-height: 30px;
  font-weight: 100;
  display: block;
}