

.input-group {
  width: 400px;
  display: block;
  text-align: left;
  padding: 0 10px;
  margin: 0 auto;
}

.input-group:last-child {
  margin-right: 0;
}


.input-group__title {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0 10px 0;
  color: #0b97c4;
  line-height: 16px;
}

.input {
  border-radius: 3px;
  border: 2px solid #e3e4e8;
  padding: 12px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.input_textarea {
  resize: vertical;
}

.input_error {
  border-color: $color_pink_primary;
}