//============================
// Link style
//============================

.link {
    color: $color_black_base;
    font-size: $font_size_smaller;
    font-family: $font_family_base;
    font-weight: $font_weight_base;
    line-height: $font_line_smaller;
    text-decoration: none;
}

    .link_color_white {
        color: $color_white;
    }

    .link_blue_additional {
        color: $color_blue_additional;
    }

.link_absolute {
  position: absolute;;
  bottom: 18%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -mz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.link_redirect_limpid {
  display: block;
  padding: 14px 30px;
  border-radius: 3px;
  color: $color_white;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid $color_white;
  font-family: $font_family_base;
  font-size:14px;
  text-transform: uppercase;
  font-weight: $font_weight_bold;
  cursor: pointer;

  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;

  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;

  &:hover {
    background: rgba(143, 147, 153, 0.4);
  }
}