.panel {
  width: 460px;
  height: auto;
  margin: 20px;
  display: block;
  position: relative;
  padding: 19px;
  border-radius: 5px;
  border: 1px solid #e3e4e8;
  background-color: white;
  box-shadow: 0 3px 0 #e3e4e8;
  text-align: left;
  cursor: pointer;
}

.panel__img {
  background-color: #ddd;
  border-radius: 5px;
}

.panel__title {
  color: #0b97c4;
  font-size: 23px;
  font-weight: 700;
  line-height: 20px;
}

.panel__text {
  color: #777;
  line-height: 24px;
  font-size: 16px;
}