.post {
  position: relative;
  width: 600px;
  margin: 20px auto;
  padding: 20px 0;
}

.post__upload {
  width: 600px;
  height: 400px;
  background: $color_gray_secondary;
  overflow: hidden;
  position: relative;
  margin: 30px auto;
  border-radius: 5px;
}

.post__upload__label {
  display: block;
  width: 600px;
  height: 400px;
  cursor: pointer;
  display: block;
}

.post__upload input {
  display: none;
  width: 600px;
  height: 400px;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}

.post__title {
  top: 65%;
  left: 0;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
  pointer-events: none;
  color: $color_blue_primary;
}

.post__icon {
  display: block;
  text-align: center;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 30%;
  &:before {
    content: '';
    background: url(../../static/img/icon-picture.svg) top left no-repeat;
    background-size: 100%;
    width: 100px;
    height: 95px;
    display: inline-block;
    border-radius: 3px;
  }
}

.post-group {
  display: table;
  margin: 20px 0 10px 0;
  font-size: 0;
  width: 100%;
}

.post-group__title {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color_blue_primary;
  line-height: 16px;
  margin: 0;
  width: 32%;
}

.post-group__data {
  display: table-cell;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #5a4143;
  margin: 0;
}

.post-group__input {
  display: table-cell;
  vertical-align: top;
}

.post-group__select {
  display: table-cell;
}

.post-group__textarea {
  resize: vertical;
  display: table-cell;
  width: 100%;
}

.post__button {
  margin: 30px auto;
  width: 100%;
  text-align: center;
}