.profile {
  text-align: center;
  width: 400px;
  margin: 20px auto 0;
}

.profile__item {
  display: table;
  margin: 20px 0 10px 0;
  font-size: 0;
  text-align: left;
}

.profile__title {
  display: table-cell;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $color_blue_primary;
  line-height: 20px;
  margin: 0;
  width: 100px;
}

.profile__data {
  display: table-cell;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: $color_black_primary;
  margin: 0;
  padding-left: 20px;
}

.profile__action {
  margin-top: 30px;
}