.register {
  display: block;
  text-align: center;
  font-size: 0;
  padding: 2% 0;
}

.register__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  color: #0b97c4;
}

.register__button {
  margin: 40px auto;
}

