//====================================
// Style Select
//====================================

.select {
	padding: 12px;
	border-radius: 3px;
	border: 2px solid $color_gray_secondary;
	background-color: $color_white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	overflow: hidden;
	box-sizing: border-box;
}

.select_shape_stretch {
	width: 100%;
}