.menu {
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
}

.menu__container {
  display: table;
  height: 100%;
  border-collapse: collapse;
}

.menu__item {
  display: table-cell;
  vertical-align: middle;
  width: 1px;
  white-space: nowrap;
  cursor: pointer;
}

.menu__link {
  font-size: $font_size_largest;
  line-height: $font_line_largest;
  color: white;
  text-decoration: none;
  padding: 25px 20px;
  font-weight: $font_weight_tiny;

  .header_relative & {
    color: $color_gray_secondary;
  }
}

.menu__link_active {
  background-color: $color_blue_primary;

  .header_relative & {
    color: white;
  }
}

.menu__link:hover {
  background-color: $color_blue_primary;

  .header_relative & {
    color: white;
  }
}