#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

.signIn {
  padding: 20px;
  border-radius: 20px;
  display: none;
  background: #FFF;
  img {
    display: none;
  }
  h2 {
    text-align: center;
  }
  .signIn__button {
    position: relative;
    margin-left: -45px;
    left: 50%;
    margin-top: 20px;
  }
  .register__button {
    position: relative;
    margin-left: -85px;
    left: 50%;
    margin-top: 20px;
  }
}

.makeOrder {
  padding: 20px;
  border-radius: 20px;
  display: none;
  background: #FFF;

  img {
    display: none;
  }
  h2 {
    text-align: center;
  }
  h3 {
    width: 400px;
    text-align: center;
  }
  .button_green {
    position: relative;
    left: 50%;
    margin-left: -90px;
    margin-top: 20px;
  }
}

.top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  background: url(../../static/img/arrow.svg);
  height: 40px;
  width: 40px;
  cursor: pointer;
  opacity: 0.5;

    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  &:hover {
    opacity: 1;
  }
}

.validPost {
  .post {
    padding: 0;
    a {
      text-decoration: none;
      display: inline-block;
      width: 150px;
    }
    .name {
      display: inline-block;
      width: 270px;
    }
  }
  h2 {
    margin-top: 140px;
    text-align: center;
  }
}

.validOrders {
  .order {
    width: 1100px;
    margin: 20px auto;
    a {
      text-decoration: none;
    }
    .date {
      display: inline-block;
      width: 120px;
    }
    .author {
      width: 120px;
      display: inline-block;
    }
    ._post {
      width: 200px;
      display: inline-block;
    }
    .desc {
      width: 200px;
      display: inline-block;
    }
    .button_red {
      margin-left: 20px;
    }
  }
  h2 {
    text-align: center;
    margin-top: 60px;
  }
}

.post_deleted {
  text-align: center;
  margin-top: 70px;
}

.loader {
  display: none;
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
  background: gray;
  height: 100%;
  opacity: 0.5;
}