<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AnimalsHelp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/img/purple-cat.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/static/build/style.css">
  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/jquery.leanModal.min.js"></script>
  <script src="/static/js/glisse.js"></script>
  <script src="/static/build/bundle.js"></script>
</head>
  <script type="text/javascript">
    window.login = {% if user.is_authenticated %}{{  user.id }}{% else %}false{% endif %};
    window.role = {% if user.is_authenticated %}"{{  user.role }}"{% else %}false{% endif %};
  </script>
  <body>
    <section id="application">
    </section>
  </body>
</html>
